body {
    font-family: "Times New Roman", sans-serif;
    display: flex;
    justify-content: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: grey;
    border: 1px solid black;
    border-radius: 8px;
}

.result {
    padding: 8px;
}

.result p {
    margin: 0;
    font-weight: 700;
}

.result-text {
    text-align: end;
    font-size: 20px;
}

.result-screen {
    background-color: silver;
    border-radius: 4px;
    padding: 8px;
    border: 1px solid black;
}

button {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 18px;
}

button:hover {
    border: 1px solid black;
    background-color: #b8b8b8;
}

.options {
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
}

.clear, #backspace {
    background-color: #ab1d13;
}

.clear:hover, #backspace:hover {
    background-color: #b33229;
}

.equals {
    background-color: #106e15;
}

.equals:hover {
    background-color: #1d7d22;
}

.operator {
    background-color: #505250;
}

.operator:hover {
    background-color: #727572;
}